h1{
    color: brown;
    font-style: italic;
    font-size: 50px;
}

h2{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
}
h3{
    font-size: 45px;

}
p{
    font-size: 20px;
}